/* some style */

.has-error .input-group-btn .btn {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-left-width: 0;
}

.has-error .input-group .form-control {
  border-right-width: 0;
}